# exclude IntelliJ project files
.idea/
*.iws
*.ipr
*.iml
atlassian-ide-plugin.xml

# ignore Eclipse project files
.classpath
.project
.settings
.springBeans

# exclude maven target directories
target/

# Mac
.DS_Store

# VIM swap files
*.swp

# Log files
*.log

# Vagrant
.vagrant/
